@using Microsoft.AspNetCore.Http
@using ders_kayit_sistemi.Models

@model ders_kayit_sistemi.Models.DersListesi
<!DOCTYPE html>
<html>
<head>

<link rel="icon" type="logo_photo.jpg">

    <link rel="stylesheet" href="~/css/style6.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>


<body>
<div class="container">
    <br>
    <div class="row">
        <table border="1">
            <tr>
            <th>Ders Adı</th>
            <th>Kredisi</th>
            <th>Yarıyıl</th>
            <th class="sadelik"></th>
            @foreach (var row in Model.list)
            {
                row.Total = Model.toplamKredi();
                <tr>
                <td>
                    @row.Ad
                </td>
                <td>
                    @row.Kredi
                </td>
                <td>
                    @row.Donem
                </td>

                <td class="sadelik">
                    @using (Html.BeginForm("DersKayit", "DersKayit", row, FormMethod.Post)) // new { kayit = new DersKayit(){Id = row.Id}, dersler = Model }, FormMethod.Post))
                    {
                    <button class="button1">@(row.KayitDurumu ? "Bırak" : "Seç")</button>
                    }

                </td>

                </tr>
            }
        </table>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div clasas="col mx-auto text-center">
                <h4>Mevcut Krediniz: </h4>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div clasas="col mx-auto text-center">
                <h1>@Model.toplamKredi()</h1>
            </div>
        </div>
    </div>
    </div>
</div>
</body>